<div class="modal-body">
  <form #model="ngForm">
    <div #step_container></div>
  </form>
</div>
<div class="modal-footer">
  <button
    class="btn btn-default"
    [ngClass]="{'pull-left': !isReadOnly || !isSingleStep}"
    (click)="modal.close()"
  >
    {{ isReadOnly ? 'Close' : 'Discard' }}
  </button>
  <button
  *ngIf="!isSingleStep"
    class="btn btn-default"
    (click)="go(-1)"
    [disabled]="getStep(-1) === null"
  >
      &nbsp;<span class="glyphicon glyphicon-menu-left"></span>&nbsp;
  </button>
  <button
    *ngIf="!isSingleStep"
    class="btn btn-primary"
    (click)="go(1)"
    [disabled]="getStep(1) === null || !stepIsValid()"
  >
    Next
  </button>
  <button
    *ngIf="!isReadOnly"
    class="btn btn-primary"
    (click)="save()"
    [disabled]="!modelIsValid()"
  >
    Save changes
  </button>
</div>
